*{
	box-sizing: border-box;
}
body{
	background-color:#FFFFFF;
	font-family:Verdana, Arial, sans-serif;
	color: #666666;
	background-image:url(images/background.jpg);
}
h1{
	font-family: Georgia, serif;
	background-color:#000033;
	color:#FFFFFF;
	line-height: 2.0;
	background-image: url(images/sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding: 20px;
	height: 72px;
	margin-bottom: 0;
}
nav{
	font-weight:bold;
	background-color:#90C7E3;
	padding: 20px 5px 0px 20px;
	float: left;
	width: 160px;

}
h2{
	font-family:Georgia, serif;
	color:#3399CC;
}
dt{
	font-weight:bold;
	color:#000033;
}
.resort{
	font-size: 1.2em;
	color: #000033;
}
footer{
	font-size:.7em;
	font-style:italic;
	text-align:center;
	padding: 5px 5px 5px 5px;
	margin-left:170px;
	background-color: #FFFFFF;
}
#wrapper{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color: #90C7E3;
	min-width:700px;
	max-width:1024px;
	box-shadow:5px 5px 15px 5px #000000;
}
main{
	padding: 20px 20px;
	margin-left:170px;
	padding-top:10px;
	padding-bottom:20px;
	background-color: #FFFFFF;
}
#homehero{
	background-image: url(images/coast.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left:170px;
	/* This is the CSS for the hero image */
}
#yurthero{
	background-image: url(images/yurt.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left:170px;
	/* This is the CSS for the hero image */
}
nav a{
	text-decoration: none;
}
h3{
	color: #0000CC;
}
#trailhero{
	background-image: url(images/trail.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left:170px;
	/* This is the CSS for the hero image */
}
/* Navigation Bar */
nav ul{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding: 10px;
}
nav a:link{
	color: #000033;
}
nav a:visited{
	color: #344873;
}
nav a:hover{
	color: #ffffff;
}
nav a:active{
	color: #000000;
}

#mobile{
	display: none;
}

/* CSS for tablets */
@media only screen and (max-width: 1024px){
	body{
		margin: 0;
		padding: 0;
		background-image: none;
	}
	#wrapper{
		max-width: 1024px;
		width: auto;
		min-width: 0;
		box-shadow: none;
	}
	h1{
		margin: 0;
	}
	nav{
		float: none;
		width: auto;
		padding: 0.5em;
	}
	nav li{
		display: inline-block;
	}
	nav a{
		padding: 1em;
	}
	main{
		margin-left: 0;
		padding: 1em;
		font-size: 90%;
	}
	footer{
		margin: 0;
	}
	#homehero,
	#yurthero,
	#trailhero{
		margin-left: 0;
	}

}

/* CSS for smartphones */
@media only screen and (max-width: 768px){
	#homehero, #yurthero, #trailhero{
		display: none;
	}
	nav li{
		display: block;
		margin: 0;
		padding: 0;
	}
	nav a{
		display: block;
		border-bottom: 1px #330000 solid;
		padding: 0.2em;
		font-size: 1.3em;
	}
	nav{
		padding: 0;
	}
	nav ul{
		margin: 0;
		padding: 0;
	}
	h1{
		font-size: 1.5em;
		padding-left: 0.3em;
		height: auto;
	}
	main{
		padding: 0.1em 0.6em 0.1em 0.4em;
	}
	footer{
		padding: 0;
	}
	#desktop{
		display:none;
	}
	#mobile{
		display:inline;
	}

}


